/*  Primary Colors */
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/*  Neutral Colors */
$dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 100%, 100%);

/*  Font colors */
%dark-font-color {
    color: $dark-blue;
}

%light-font-color {
    color: $grayish-blue;
}

/*  General settings */

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: $light-gray;
}

/*  Header */

.main-titles {
    text-align: center;
    width: 80%;
    max-width: 550px;
    margin: 3.5em auto;
}

.main-title {
    @extend %dark-font-color;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0em;
}

.main-secondary-title {
    @extend %dark-font-color;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 0;
}

.main-description {
    @extend %light-font-color;
    font-size: 1rem;
}

/*  Cards */
.card-grid {
    margin-bottom: 4.5em;
}

.card {
    max-width: 330px;
    background-color: $white;
    padding: 1.6em;
    margin: 0 auto;
    margin-bottom: 2.5em;
    border-radius: 7px;
    border-top-style: solid;
    border-top-width: 6px;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;

    &#supervisor {
        border-top-color: $cyan;
    }

    &#team-builder {
        border-top-color: $red;
    }

    &#karma {
        border-top-color: $orange;
    }

    &#calculator {
        border-top-color: $blue;
    }
}

.card-title {
    @extend %dark-font-color;
    font-weight: 600;
    font-size: 1.45rem;
    margin: 0;
}

.card-content {
    @extend %light-font-color;
    margin: .5em 0;
    font-size: 0.9rem;
}

.card-img {
    align-self: flex-end; /* Prevents the image from getting stretched horizontally */
    margin-top: 2em;
}

/*  Footer */
.attribution {
    @extend %dark-font-color;
    text-align: center;
    margin: 1.5em 0;
}


/*  Desktop: aligns the cards in the cross format */
@media (min-width: 1100px) {
    .card-grid {
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
            ". . tb tb . ."
            "s s tb tb c c"
            "s s k k c c"
            ". . k k . .";
    }

    .card {
        &#supervisor {
            grid-area: s;
        }

        &#team-builder {
            grid-area: tb;
        }

        &#karma {
            grid-area: k;
        }

        &#calculator {
            grid-area: c;
        }

    }
}