*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*  Header */

.main-titles {
    width: 33%;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}
